/*
This is a CSS comment :) Text just for humans, it is not part of the code
Below is basic CSS styling.
You can change it, add to it, or delete it.
*/

body {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #111;
  color: rgb(255, 255, 255);
  padding: 20px;
  .highlight {
    background-color: rgb(255, 255, 255);
  }
}

button {
  padding: 10px;
  font-size: 16px;
}

body {
  background-image: url('Design Backround.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  padding: 20px;
}

#room1-text-box {
  background-color: #22d3ee;
  /* This is the ISL Cyan-400 brand color! */
  padding: 20px;
  /* This adds space inside the square */
  width: 300px;
  /* This makes it a specific size */
  border: 2px solid #a78bfa;
  /* Adding a Violet-400 border for style */
}